In [1]:
import requests
import pandas as pd
import time

In [4]:
def make_request(endpoint, params=None, record_path=None, verbose=False):
    root = "https://www.balldontlie.io/api/v1/"
    response = requests.get(root + endpoint, params=params)
    if response.status_code != 200:
        print(response.status_code)
        return response
    if verbose: 
        print("Success!")
    res = response.json()
    res = pd.json_normalize(res, record_path=record_path)
    return res

In [5]:
teams = make_request("teams", record_path="data")

In [6]:
team_codes = teams[["id", "name"]]

In [7]:
team_codes

    id           name
0    1          Hawks
1    2        Celtics
2    3           Nets
3    4        Hornets
4    5          Bulls
5    6      Cavaliers
6    7      Mavericks
7    8        Nuggets
8    9        Pistons
9   10       Warriors
10  11        Rockets
11  12         Pacers
12  13       Clippers
13  14         Lakers
14  15      Grizzlies
15  16           Heat
16  17          Bucks
17  18   Timberwolves
18  19       Pelicans
19  20         Knicks
20  21        Thunder
21  22          Magic
22  23          76ers
23  24           Suns
24  25  Trail Blazers
25  26          Kings
26  27          Spurs
27  28        Raptors
28  29           Jazz
29  30        Wizards

In [86]:
home_team_id = 30
page_num = 1

recent_games = pd.DataFrame()

res = make_request("games", record_path="data", params={"end_date": "2021-11-09",
                                                        "start_date": "2020-11-09",
                                                        "team_ids[]": [home_team_id],
                                                        "page": page_num,
                                                       "per_page": "100"})

res = res.sort_values("date", ascending=False)

res = res[res["home_team.id"].eq(home_team_id)]

recent_games = recent_games.append(res)
recent_games = recent_games.head(20)

In [2]:
from functions import make_request
from functions import get_recent_games

In [3]:
home, away = get_recent_games(1,2)

In [ ]:
def get_stats(game_ids_home, game_ids_away):